@import '../../../../Sass/colors.scss';

.container {
  color: $black;
  font: {
    family: 'e-Ukraine-Bold';
    size: 30px;
    style: normal;
    weight: 700;
  };
  line-height: normal;

  &:hover {
    cursor: pointer;
  }
}
